:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}

* {
  box-sizing: inherit;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

#app {
  flex-grow: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
}
